@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import "watermark";
@import "figure";
@import "table";
@import "typography";

* {
  font-family: "Tenor Sans", sans-serif;
  color: #2e2e2e;
}

body {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.body-container {
  height: 100%;
}

.container-result {
  padding-bottom: 35px;
  padding-top: 35px;

  @media (max-width: 600px) {
  }
}

.container-result-title {
  font-size: 32px;
  letter-spacing: 5px;

  @media (max-width: 600px) {
    margin-right: -15px;
    margin-left: -15px;
    font-size: 20px;
    letter-spacing: 1px;
  }
}

.body-row {
  height: 100%;
}

.bg-turquoise {
  background-color: #cde1d8;
}

.bg-image-1 {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../img/bg.PNG);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.21;
    z-index: -1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #d6d8da;
    z-index: -1;
  }
}

.h1 {
  font-size: 40px;
  letter-spacing: 10px;
}

.h2 {
  position: relative;
  width: 267px;
  height: 30px;
  margin-left: 24px;
  margin-top: 70px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 149.4%;
  letter-spacing: 0.005em;
  color: #FFFFFF;

  @media (max-width: 600px) {
    font-size: 22px;
    letter-spacing: 1px;
  }
}

.card-pythagoras {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  padding: 15px 0;
  color: #000000;
  font-size: 20px;
  letter-spacing: 2px;
  border: 2px dotted #000000;

  border-radius: 10px;
}

.card-pythagoras-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-color: transparent;
}

.form-calc {
  width: 100%;
  padding: 0 15px;

  @media (max-width: 600px) {
    padding: 0;
  }
}

.form-title {
  margin: 48px 0;

  @media (max-width: 600px) {
    margin: 24px 0 0 0;
  }
}

.form-group {
  margin: 48px 0;

  @media (max-width: 600px) {
    margin: 12px 0;
  }
}

.form-calc-group {
  position: relative;

  @media (max-width: 600px) {
    width: 100%;
  }
}

.form-calc-control {
  background-color: #333332;
  width: 366px;
  height: 68px;
  margin-left: 100px;
  margin-top: -40px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;

  &.is-invalid {
    border-color: red;
    color: red;
  }

  @media (max-width: 600px) {
    width: 100%;
    padding: 0.5rem;
  }
}

.form-calc-label-hover {
  width: 153px;
  height: 36px;
  margin-left: 130px;
  margin-top: -51px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 149.4%;
  letter-spacing: 0.005em;
  color: #FFFFFF;
}

.form-calc-submit {
  width: 319px;
  height: 65px;
  margin-left: 50px;
  margin-top: -45px;
  background: #575757;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 149.4%;
  letter-spacing: 0.005em;
  color: #FFFFFF;
  border-color: #575757;

  @media (max-width: 600px) {
    padding: 0.5em 0;
    width: 100%;
  }
}

@media (max-width: 600px) {
  body {
    position: relative;
    height: auto;
    width: auto;
  }

  .mobile-grid {
    display: flex;
    flex-direction: column;
  }

  .card-pythagoras {
    margin: 1px 0;
    font-size: 12px;
    letter-spacing: 0px;
    margin-left: -14px;
    margin-right: -14px;
  }

  .mobile-a {
    padding: 10px 0px 5px 0 !important;
  }
}

img {
  display: none !important;
}

.value-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 100%;
  width: 24px;
  height: 24px;
}

@media (max-width: 600px) {
  .body-style-2 {
    padding-bottom: 50px;
    background: #cde1d8;
  }
}
