body {
  background-color: #232323;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.main {
  margin-left: 40%;
  width: 428px;
  height: 926px;
  background: #333332;
  border-radius: 18px;
}

/* -------------------------HEADER------------------------------------------ */

.main-header {
  width: 428px;
  height: 184px;
  left: 0px;
  top: 0px;
  background: #33E4DA;
  border-radius: 18px 18px 0 0;
}

.logo {
  width: 68px;
  height: 69px;
  margin-left: 16px;
  margin-top: 23px;
  border-radius: 40px;
}

.main-head-text {
  margin-left: 91px;
  margin-top: -73px;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
}

.second-head-text {
  margin-left: 91px;
  margin-top: -40px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
}

.third-head-text {
  margin-left: 10px;
  margin-top: -17px;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.line-one {
  width: 20px;
  height: 0px;
  margin-left: 18px;
  margin-top: -5px;
  border: 1px solid #000000;
}

.four-head-text {
  margin-left: 50px;
  margin-top: -27px;
  font-weight: 800;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.line-two {
  width: 20px;
  height: 0px;
  margin-left: 18px;
  margin-top: -3px;
  border: 1px solid #000000;
}

.five-head-text {
  margin-left: 50px;
  margin-top: -27px;
  font-weight: 800;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.line-three {
  width: 20px;
  height: 0px;
  margin-left: 18px;
  margin-top: -4px;
  border: 1px solid #000000;
}

.six-head-text {
  margin-left: 50px;
  margin-top: -25px;
  font-weight: 800;
  font-size: 12px;
  line-height: 13px;
  color: #000000;
}

/* ----------------------------MAIN--------------------------------------- */

.your-numerolog {
  width: 350px;
  height: 170px;
  margin-left: 39px;
  margin-top: 25px;
}

.big-line-one {
  width: 140px;
  height: 0px;
  margin-left: 144px;
  top: 404.01px;
  border: 1px solid #FFFFFF;
}

.numerologya {
  width: 350px;
  height: 123px;
  margin-left: 39px;
  top: 450px;
}

.taro {
  width: 350px;
  height: 133px;
  margin-left: 39px;
  margin-top: 20px;
}

.associatve {
  width: 350px;
  height: 140px;
  margin-left: 39px;
  margin-top: 20px;
}

.back {
  width: 79px;
  height: 29px;
  margin-left: 174px;
  margin-top: 30px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.btn-back {
  width: 366px;
  height: 52px;
  margin-left: 31px;
  margin-top: -63px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
}

/* ----------------------------second screen--------------------------------------- */

.consultation {
  width: 350px;
  height: 128px;
  margin-left: 39px;
  margin-top: 43px;
}

.learning {
  width: 350px;
  height: 114px;
  margin-left: 39px;
  margin-top: 30px;
}

/* ----------------------------Numerology consultation--------------------------------------- */

.psycho-matrix {
  width: 350px;
  height: 139px;
  margin-left: 39px;
  margin-top: 40px;
}

.matrix-destiny-one {
  width: 350px;
  height: 139px;
  margin-left: 39px;
  margin-top: 30px;
}

.big-line-two {
  width: 140px;
  height: 0px;
  margin-left: 144px;
  margin-top: 25px;
  border: 1px solid #FFFFFF;
}

.main-consultation {
  width: 350px;
  height: 109px;
  margin-left: 39px;
  margin-top: 12px;
}

.consultation-price-one {
  width: 367px;
  height: 20px;
  margin-left: 31px;
  margin-top: 21px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
}

.WhatsApp-one {
  width: 351px;
  height: 51px;
  margin-left: 39px;
  margin-top: 0px;
}

/* ----------------------------Learning(Numerology)--------------------------------------- */

.main-learing {
  margin-left: 40%;
  width: 428px;
  height: 1603px;
  background: #333332;
  border-radius: 18px;
}

.matrix-description-one {
  width: 350px;
  height: 166px;
  margin-left: 39px;
  margin-top: 30px;
}

.matrix-description-two {
  width: 350px;
  height: 208px;
  margin-left: 39px;
  margin-top: 25px;
}

.matrix-description-three {
  width: 350px;
  height: 303px;
  margin-left: 39px;
  margin-top: 25px;
}

.matrix-description-four {
  width: 350px;
  height: 305px;
  margin-left: 39px;
  margin-top: 25px;
}

.at-the-end {
  width: 350px;
  height: 125px;
  margin-left: 39px;
  margin-top: 25px;
}

.tariffs {
  width: 350px;
  height: 120px;
  margin-left: 39px;
  margin-top: 35px;
}

/* ----------------------------Psychomatrix(Numerology)--------------------------------------- */

.main-psychomatrix {
  margin-left: 40%;
  width: 428px;
  height: 1200px;
  background: #333332;
  border-radius: 18px;
}

.psychomatrix {
  width: 378px;
  height: 249px;
  margin-left: 24px;
  margin-top: 40px;
}

.psychomatrix-main-text {
  width: 381px;
  height: 459px;
  margin-left: 24px;
  margin-top: 14px;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
}

.psychomatrix-second-text {
  width: 381px;
  height: 40px;
  margin-left: 24px;
  margin-top: 25px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
}

.psychomatrix-third-text {
  width: 388px;
  height: 40px;
  margin-left: 24px;
  margin-top: 0px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
}

.WhatsApp-six {
  width: 379px;
  height: 55px;
  margin-left: 24px;
  margin-top: 2px;
}

/* ----------------------------Main Matrix Destiny(Numerology)--------------------------------------- */

.matrix-destiny-two {
  width: 350px;
  height: 131px;
  margin-left: 39px;
  margin-top: 40px;
}

.money-matrix {
  width: 350px;
  height: 130px;
  margin-left: 39px;
  margin-top: 25px;
}

.relationship-matrix {
  width: 350px;
  height: 144px;
  margin-left: 39px;
  margin-top: 25px;
}

/* ----------------------------Big Natrix Destiny(Numerology)--------------------------------------- */

.main-big-destiny {
  margin-left: 40%;
  width: 428px;
  height: 1500px;
  background: #333332;
  border-radius: 18px;
}

.big-matrix-destiny {
  width: 386px;
  height: 410px;
  margin-left: 21px;
  margin-top: 40px;
}

.big-matrix-destiny-text {
  width: 406px;
  height: 702px;
  margin-left: 21px;
  margin-top: 20px;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.005em;
  color: #FFFFFF;

}

.big-matrix-destiny-second-text {
  width: 381px;
  height: 40px;
  margin-left: 21px;
  margin-top: 0px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
}

.btn-calculator {
  width: 386px;
  height: 56px;
  margin-left: 21px;
  margin-top: -20px;
}

/* ----------------------------Calculator Matrix(Numerology)--------------------------------------- */

.h2 {
  width: 267px;
  height: 30px;
  margin-left: 24px;
  margin-top: 35px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 149.4%;
  letter-spacing: 0.005em;
  color: #FFFFFF;
}

.form-calc-control {
  background-color: #333332;
  width: 366px;
  height: 68px;
  margin-left: 24px;
  margin-top: 13px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
}

.form-calc-control.is-invalid {
  border-color: red;
  color: red
}

.form-calc-label-hover {
  position: relative;
  width: 153px;
  height: 36px;
  margin-left: 138px;
  top: -51px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 149.4%;
  letter-spacing: 0.005em;
  color: #FFFFFF;
}

.form-calc-submit {
  border-right: none;
  border-bottom: none;
  width: 319px;
  height: 65px;
  margin-left: 55px;
  margin-top: -10px;
  background: #575757;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 149.4%;
  letter-spacing: 0.005em;
  color: #FFFFFF;
  border-color: #575757;
}

.form-calc-control:focus {
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.1);
}


/* ----------------------------Big Natrix Money(Numerology)--------------------------------------- */

.main-matrix-money {
  margin-left: 40%;
  width: 428px;
  height: 1200px;
  background: #333332;
  border-radius: 18px;
}

.big-matrix-money {
  width: 385px;
  height: 424px;
  margin-left: 21px;
  margin-top: 40px;
}

.big-matrix-money-text {
  width: 364px;
  height: 324px;
  margin-left: 21px;
  margin-top: 25px;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
}

.big-matrix-money-second-text {
  width: 342px;
  height: 40px;
  margin-left: 21px;
  margin-top: 50px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
}

.WhatsApp-eight {
  width: 386px;
  height: 56px;
  margin-left: 21px;
  margin-top: 0px;
}

/* ----------------------------Big Natrix Reletionship(Numerology)--------------------------------------- */

.main-matrix-relationship {
  margin-left: 40%;
  width: 428px;
  height: 1450px;
  background: #333332;
  border-radius: 18px;
}

.big-matrix-relationship {
  width: 386px;
  height: 410px;
  margin-left: 21px;
  margin-top: 40px;
}

.big-matrix-relationship-text {
  width: 400px;
  height: 621px;
  margin-left: 21px;
  margin-top: 25px;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
}

.big-matrix-relationship-second-text {
  width: 342px;
  height: 40px;
  margin-left: 21px;
  margin-top: 50px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
}

.WhatsApp-nine {
  width: 386px;
  height: 56px;
  margin-left: 21px;
  margin-top: -20px;
}


/* ----------------------------Taro Learning--------------------------------------- */

.dont-ready {
  width: 350px;
  height: 135px;
  margin-left: 39px;
  margin-top: 43px;
}

/* ----------------------------Taro consultation--------------------------------------- */

.main-consultation-taro {
  margin-left: 40%;
  width: 428px;
  height: 1450px;
  background: #333332;
  border-radius: 18px;
}

.money-alignment {
  width: 350px;
  height: 138px;
  margin-left: 39px;
  margin-top: 40px;
}

.alignment-price-one {
  width: 328px;
  height: 22px;
  margin-left: 39px;
  margin-top: 21px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
}

.WhatsApp-two {
  width: 351px;
  height: 51px;
  margin-left: 39px;
  margin-top: 0px;
}

.big-line-three {
  width: 140px;
  height: 0px;
  margin-left: 144px;
  margin-top: 25px;
  border: 1px solid #FFFFFF;
}




.reletionship-alignment {
  width: 350px;
  height: 120px;
  margin-left: 39px;
  margin-top: 25px;
}

.alignment-price-two {
  width: 330px;
  height: 22px;
  margin-left: 39px;
  margin-top: 21px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
}

.WhatsApp-three {
  width: 351px;
  height: 51px;
  margin-left: 39px;
  margin-top: 0px;
}

.big-line-four {
  width: 140px;
  height: 0px;
  margin-left: 144px;
  margin-top: 25px;
  border: 1px solid #FFFFFF;
}




.horror-alignment {
  width: 350px;
  height: 134px;
  margin-left: 39px;
  margin-top: 25px;
}

.alignment-price-three {
  width: 328px;
  height: 22px;
  margin-left: 39px;
  margin-top: 21px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
}

.WhatsApp-four {
  width: 351px;
  height: 51px;
  margin-left: 39px;
  margin-top: 0px;
}

.big-line-five {
  width: 140px;
  height: 0px;
  margin-left: 144px;
  margin-top: 25px;
  border: 1px solid #FFFFFF;
}




.consultation-one {
  width: 350px;
  height: 109px;
  margin-left: 39px;
  margin-top: 25px;
}

.alignment-price-four {
  width: 235px;
  height: 22px;
  margin-left: 39px;
  margin-top: 21px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
}

.WhatsApp-five {
  width: 351px;
  height: 51px;
  margin-left: 39px;
  margin-top: 0px;
}


/* ----------------------------Associatve--------------------------------------- */

.who-me {
  width: 350px;
  height: 148px;
  margin-left: 39px;
  margin-top: 40px;
}

.alignment-price-one {
  width: 328px;
  height: 22px;
  margin-left: 39px;
  margin-top: 21px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
}

.WhatsApp-two {
  width: 351px;
  height: 51px;
  margin-left: 39px;
  margin-top: 0px;
}

.big-line-three {
  width: 140px;
  height: 0px;
  margin-left: 144px;
  margin-top: 25px;
  border: 1px solid #FFFFFF;
}




.reletionship-alignment {
  width: 350px;
  height: 120px;
  margin-left: 39px;
  margin-top: 14px;
}

.alignment-price-two {
  width: 330px;
  height: 22px;
  margin-left: 39px;
  margin-top: 21px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
}

.WhatsApp-three {
  width: 351px;
  height: 51px;
  margin-left: 39px;
  margin-top: 0px;
}

.big-line-four {
  width: 140px;
  height: 0px;
  margin-left: 144px;
  margin-top: 25px;
  border: 1px solid #FFFFFF;
}




.money-alignment {
  width: 350px;
  height: 138px;
  margin-left: 39px;
  margin-top: 14px;
}


.alignment-price-three {
  width: 328px;
  height: 22px;
  margin-left: 39px;
  margin-top: 21px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
}

.WhatsApp-four {
  width: 351px;
  height: 51px;
  margin-left: 39px;
  margin-top: 0px;
}

.big-line-five {
  width: 140px;
  height: 0px;
  margin-left: 144px;
  margin-top: 25px;
  border: 1px solid #FFFFFF;
}




.consultation-one {
  width: 350px;
  height: 109px;
  margin-left: 39px;
  margin-top: 14px;
}

.alignment-price-four {
  width: 235px;
  height: 22px;
  margin-left: 39px;
  margin-top: 21px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
}

.WhatsApp-five {
  width: 351px;
  height: 51px;
  margin-left: 39px;
  margin-top: 0px;
}


/* ------------ */

.main-matrix-calculator {
  margin-left: 40%;
  width: 428px;
  height: 1500px;
  background: #333332;
  border-radius: 18px;
}

.calculator-header {
  width: 428px;
  height: 184px;
  left: 0px;
  top: 0px;
  background: #33E4DA;
  border-radius: 18px 18px 0 0;
}
